[Unit]
Description=Invoice Ninja Scheduler Runner
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=www-data
WorkingDirectory=/var/www/invoiceninja
ExecStart=/usr/bin/php artisan schedule:run
